@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;600&display=swap');

:root {
  --primary: #6979f8;
  --primary-faded: #a5affb;
  --success: #00c48c;
  --warning: #ffa26b;
  --error: #ff647c;
  --bg: #202124;
  --border: #35363a;;
  --text: #ffffff;
  --faded: #35363a;
  --fg: #202124;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Lexend', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: var(--text);
    background: var(--bg);
  }
}

p {
  font-weight: 300;
}